html, body{
  height: 100%;
}
body{
  color: $main;
  font-size: 22px;
  line-height: 33px;
  @extend %DMSans-400;
  background-color: $bg;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
}
.title{
  @extend %DMSans-400;
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  @media(max-width:1300px){
    font-size: 55px;
    line-height: 69px;
  }
}