.footer{
  padding-top: 95px;
  padding-bottom: 180px;
  &__inner{
    display: flex;
  }
 &__social{
   padding-top: 20px;
 }
 &__social-link{
   margin-right: 15px;
 }
 &__nav{
   margin-left: auto;
   margin-right: 120px;
 }
 &__menu-link,
 &__guide-link{
   font-size: 17px;
   line-height: 27px;
   color: $main;
 }
 &__socials{
   margin-right: auto;
   margin-left: 15px;
 }
&__guide-item,
&__menu-item{
  padding-bottom: 20px;
}
}