.reviews {
  padding-bottom: 95px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    @media(max-width:1300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width:900px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    max-width: 420px;
    min-height: 360px;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 75px;

    @media(max-width:1300px) {
      margin: 0 auto;
      width: 100%;
      padding-left: 15px;
      padding-top: 50px;
    }
    @media(max-width:400px){
      max-width: 300px;
      padding-top: 50px;
    }
  }

  .star {
    margin-bottom: 25px;
  }

  &__text {
    font-size: 36px;
    line-height: 43px;
    max-width: 317px;
    margin-bottom: 20px;
  }

  &__author {
    font-size: 24px;
    line-height: 29px;
  }
}